
select {
  width: 347px;
  height: 35px;
}
p {
  color: red;
}

.passwordDiv {
  display: flex;
}

.Eyeicon {
  left: 381px;
    bottom: 31px;
  border: none;
  background: transparent;
  position: relative;
  right: 40px;
}
.control{
  width: 97%;
  height: 37px;
  border: 1px solid #ced4da;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.edit{
  color: white;
  background-color: #6495ED;
  border: 2px solid #6495ED;
  border-radius: 4px;
  padding: 6px 14px;
  margin: 5px;
}
.delete{
  color: white;
  background-color: #DE3163;
  border: 2px solid#DE3163;
  border-radius: 4px;
  padding: 6px 5px;
  margin: 5px;
  margin-left: 20px;
}
.add{
  color: white;
  background-color: 	#800000;
  border: 2px solid 	#800000;
  border-radius: 4px;
  padding: 4px 20px;
  margin: 5px;
}
.Dashboard{
  background-color: darkgray;
}
.search{
  margin-left: 85px;
  margin-top: 10px;
  border-radius: 7px;
}
.posistion{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.userbox{
  padding-left: 38px;
  margin-left: 26px;
  border-radius: 7px;
  background-color:lightgray;
}
.icon{
  position: absolute;
  right: 453px;
  top: 15px;
}
.Logout{
  margin-left: 19px;
  color: black;
  background-color: darkgray;
  width: 90px;
  border-radius: 9px;
  height: 34px;
}
.SignIn{
  background: #8b9ccd;
  height: 61rem;
  overflow-x: hidden;
}
.style{
  border: 1px solid lightgray;
    background: white;
    padding: 20px;
    margin-top: 100px;
    border-radius: 14px;
    width: 78%;
    
}
.Dropdown{
  margin-top: 8px;
  border-radius: 5px;
  width: 154px;
  /* height: 40px; */
  padding: 5px
}
.All{
  margin-left: 200px;
    position: absolute;
    top: 10px;
    width: 55px;
    background-color: darkgray;
    border-radius: 9px;
}
.spring{
  margin-left: 279px;
  width: 70px;
  position: absolute;
  top: 11px;
  background-color: darkgray;
  border-radius: 9px;
}
.Fall{
  margin-left: 370px;
  width: 70px;
  position: absolute;
  top: 11px;
  background-color: darkgray;
  border-radius: 9px;
}