select {
  width: 347px;
  height: 35px;
}
p {
  color: red;
}

.passwordDiv {
  display: flex;
}

.Eyeicon {
  margin-top: 10px;
  border: none;
  background: transparent;
  position: relative;
  right: 40px;
  margin: 8px 0px;
}
.control{
  width: 97%;
  height: 37px;
  border: 1px solid #ced4da;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.edit{
  color: white;
  background-color: #6495ED;
  border: 2px solid #6495ED;
  border-radius: 4px;
  padding: 6px 14px;
  margin: 5px;
}
.delete{
  color: white;
  background-color: #DE3163;
  border: 2px solid#DE3163;
  border-radius: 4px;
  padding: 6px 5px;
  margin: 5px;
  margin-left: 20px;
}
.add{
  color: white;
  background-color: 	#800000;
  border: 2px solid 	#800000;
  border-radius: 4px;
  padding: 4px 20px;
  margin: 5px;
}
.Dashboard{
  background-color: darkgray;
}
.search{
  margin-left: 85px;
  margin-top: 10px;
  border-radius: 8px;

}